.wrapper{
      width: 100%;
      height: 3000px;
      left: 0;
      top: 0;
      position:absolute;
}

.parte2{
   bottom: 0;
   left: 0;
   width: 100%;
   height: 2287px;
   position: absolute;
   background-color: #FBC414;
}

.parte3{
   bottom: 0;
   left: 0;
   width: 100%;
   height: 1850px;
   position: absolute;
   background-color: #f6ffc4;

}

.parte4{
   bottom: 0;
   left: 0;
   width: 100%;
   height: 1500px;
   position: absolute;
   background-color: #8922ae;
}

.topo4{
   position: relative;
   left: 0;
   top: 0;
   width: 100%;
}

.topo4i{
   position: relative;
   left: 0;
   top: 0;
   width: 100%;
}

.parte5{
   bottom: 0;
   left: 0;
   width: 100%;
   height: 1516px;
   position:absolute;
   background-color: #f4ca22;
}

.e1{
   position: relative;
   top: 24px;
   left: 24px;
   width: 300px;
   height: 300px;
   background-color: #f4ca22;
   float: left;
}

.e1t{
   position: relative;
   text-align: center;
   align-items: center;
   color: #ffffbb;
   font-family: 'Lucida Sans';
   font-size: 72px;
   top: 35px;
}

.e2{
   position: relative;
   top: 24px;
   left: 300px;
   width: 300px;
   height: 300px;
   background-color: #f4ca22;
   float: left;
}

.e2t{
   position: relative;
   text-align: center;
   align-items: center;
   color: #ffffbb;
   font-family: 'Lucida Sans';
   font-size: 72px;
   top: 35px;
}

.e3{
   position: relative;
   top: 24px;
   right: 24px;
   width: 300px;
   height: 300px;
   background-color: #f4ca22;
   float: right;
}

.e3t{
   position: relative;
   text-align: center;
   align-items: center;
   color: #ffffbb;
   font-family: 'Lucida Sans';
   font-size: 72px;
   top: 35px;
}

.parte6{
   bottom: 0;
   left: 0;
   width: 100%;
   height: 1192px;
   position:absolute;
   background-color: #f6ffc4;
}

.textoe1{
   position: relative;
   top: 24px;
   left: 24px;
   width: 400px;
   height: 300px;
   background-color: #f4ca2200;
   float: left;
}

.textote1{
   width: 400px;
   height: 300px;
   position: relative;
   text-align: center;
   align-items: center;
   color: #977c11;
   font-family: 'Lucida Sans';
   font-size: 20px;
   top: 30px;
}

.textoe2{
   position: relative;
   top: 24px;
   left: 159px;
   width: 400px;
   height: 300px;
   background-color: #f4ca2200;
   float: left;
}

.textote2{
   width: 400px;
   height: 300px;
   position: relative;
   text-align: center;
   align-items: center;
   color: #977c11;
   font-family: 'Lucida Sans';
   font-size: 20px;
   top: 20px;
}

.textoe3{
   position: relative;
   top: 24px;
   right: 24px;
   width: 400px;
   height: 300px;
   background-color: #f4ca2200;
   float: right;
}

.textote3{
   width: 400px;
   height: 300px;
   position: relative;
   text-align: center;
   align-items: center;
   color: #977c11;
   font-family: 'Lucida Sans';
   font-size: 20px;
   top: 20px;
}

.parte7{
   bottom: 0;
   left: 0;
   width: 100%;
   height: 892px;
   position:absolute;
   background-color: #baa122;
}

.parte7t{
   text-align: center;
   font-family:'Segoe UI';
   color: #725e0c;
   font-size: 75px;
   bottom: 40px;
}

.parte8{
   bottom: 0;
   left: 0;
   width: 100%;
   height: 692px;
   position:absolute;
   background-color: #ae5f22;
}

.grafico{
   position: relative;
   float: left;
   width:624px;
   background-color: #f4ca22;
}

.graficoi{
   position: relative;
   float: left;
   width:624px;
}

.tg{
   position: relative;
   float: right;
   width: 959px;
   height: 775.5px;
   background-color: #f6ffc4;
}

.tgi{
   font-family: 'Lucida Sans';
   text-align: center;
   color: #977c11;
   font-size: 30px;
}

.logoods{
   float: right;
   position:relative;
   width: 300px;
   top:12px;
   right: 12px;
}

.logoods1{
   float: right;
   position: relative;
   width: 300px;  
   top:12px;
   right: 12px;
}

.ods{
   float: right;
   position: relative;
   width: 1000px;
   height: 50px;
   top: 20px;
   left: 14px;
}

.odstexto{
   vertical-align: middle;
   text-align: center;
   vertical-align: center;
   float: right;
   position: relative;
   top: 20px;
   right: 50px;
   font-size: 24px;
   font-family: Verdana;
   color: #977c11;
}

.logo7{
   float: left;
   width: 300px;
   position: relative;
   top: 12px;
   left: 12px;
}

.logo7i{
   float: left;
   width: 300px;
   position: relative;
   top: 12px;
   left: 12px;
}

.teste{
   float: left;
   position: relative;
   width: 1000px;
   height: 50px;
   top: 20px;
   left: 14px;
}

.testetexto{
   vertical-align: middle;
   text-align: center;
   vertical-align: center;
   float: right;
   position: relative;
   top: 20px;
   left: 50px;
   font-size: 24px;
   font-family: Verdana;
   color: #977c11;
}

.logo{
   position: absolute;
   width:150px;
   right: 24px;
   top: 24px;
}

.logo2{
   position: absolute;
   width:150px;
   right: 0;
   top: 50;
}


.imagem1{
   width: 100%;
}

.texto1{
   float: left;
   position: absolute;
   animation: eolica 1.5s;
   left: 759;
   width: 600px;
   text-align: 'center';
}

.texto{
   font-family: 'Lucida Sans';
   color:whitesmoke;
   font-size: 60px;
   text-align: center;
}

.eolica{
   display: inline-block;
   position: relative;
   animation: eolica 1s;
   width:100%;
}

@keyframes eolica{
   from{top:0; left:+500px}
   to{top: 0; left:0;}
}

.corpo{
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   position: absolute;
}